distribution/windows/build/
distribution/windows/dist/
distribution/windows/*.log
distribution/windows/*.log.err
distribution/windows/presentation/
presentation/video/node_modules/
presentation/video/out/qa/
presentation/video/out/poster.png
